RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload-photo$ core/upload-photo.php [L]

### PRODUCT ###
RewriteRule ^ramen$ controllers/developer/ramen/ramen.php [L]
RewriteRule ^ramen/([0-9]+)$ controllers/developer/ramen/ramen.php?ramenid=$1 [L]
RewriteRule ^ramen/active/([0-9]+)$ controllers/developer/ramen/active.php?ramenid=$1 [L]
RewriteRule ^ramen/page/([0-9]+)$ controllers/developer/ramen/page.php?start=$1 [L]
RewriteRule ^ramen/search$ controllers/developer/ramen/search.php [L]
RewriteRule ^ramen/read-all-category$ controllers/developer/ramen/read-all-category.php [L]
  